body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
}
body,
html {
  height: 100%;
}
address,
cite,
dfn,
em,
var {
  font-style: normal;
}
code,
kbd,
pre,
samp {
  font-family: couriernew, courier, monospace;
}
small {
  font-size: 12px;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
  color: inherit;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
legend {
  color: #000;
}
fieldset,
img {
  border: 0;
}
button,
input,
select,
textarea {
  font-size: 100%;
  outline: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body * {
  -webkit-text-size-adjust: 100%;
  -webkit-user-select: none;
}
input,
button {
  -webkit-appearance: none;
  border-radius: 0;
}
body {
  width: 100%;
  min-width: 320px;
  max-width: 640px;
  background-color: #333;
  margin: 0 auto;
  font-family: arial, "微软雅黑";
}
body {
  width: 100%;
  max-width: 640px;
  min-width: 320px;
  position: relative;
}
.wrap {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
}
#GameContent {
  width: 200%;
  height: 100%;
  position: relative;
  left: 0;
  z-index: 6;
}
#leftBar,
#centBar,
#rightBar {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 60px;
  height: 180px;
  padding: 0 0.16rem;
  box-sizing: border-box;
}
#leftBar span,
#centBar span,
#rightBar span {
  display: block;
  width: 100%;
  background: #30436b;
  height: 180px;
}
#leftBar span:after,
#centBar span:after,
#rightBar span:after {
  content: "";
  height: 0.64rem;
  background: #213255;
  width: 100%;
  display: block;
}
#leftBar:after,
#centBar:after,
#rightBar:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.34rem;
  background: #30436b;
  top: 0;
  left: 0;
  display: block;
}
#hero {
  width: 30px;
  height: 100px;
  position: absolute;
  left: 0;
  bottom: 180px;
}
#hero span {
  transform: scale(0.3);
  position: absolute;
  bottom: -48px;
  left: -42px;
  width: 108px;
  height: 135px;
  display: block;
  background: url(../images/hero.png);
  animation: hero 0.7s steps(1, start) infinite;
}
#stick {
  width: 0;
  height: 1px;
  background: #2771d6;
  position: absolute;
  left: 30px;
  bottom: 180px;
  transform-origin: 0 2px;
  transform: rotate(-90deg);
  border-top: 1px solid #5096f6;
}
#score {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 5;
  color: #FFF;
  display: none;
}
#restart {
  position: absolute;
  top: 40px;
  left: 30px;
  right: 30px;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  z-index: 5;
  display: none;
  z-index: 9;
}
#OneStart {
  position: absolute;
  top: 40px;
  left: 30px;
  right: 30px;
  height: 200px;
  z-index: 10;
  text-align: center;
}
#OneStart h1 img {
  width: 14rem;
}
#kill {
  width: 30px;
  position: absolute;
  bottom: -40px;
  background: url(../images/kill.png);
  background-size: cover;
  z-index: 20;
  height: 38px;
  left: 0;
}
#kill.kill {
  animation: kill 1.5s 1s linear;
}
.Btn {
  margin-top: 15px;
  cursor: pointer;
}
.Btn img {
  width: 7rem;
}
.gameBG {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  transform: none;
  transform-origin: center 60%;
  transition: 2s;
  background: url(../images/bg.jpg) no-repeat;
  background-size: cover;
  z-index: 1;
}
.gameBG .sun {
  width: 26.16rem;
  height: 23.62rem;
  position: absolute;
  top: -20%;
  right: -40%;
}
.gameBG .sun div {
  width: 100%;
  height: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  animation: sun 16s linear infinite;
}
.gameBG .sun div:nth-child(1) {
  background-image: url(../images/matr1.png);
  z-index: 1;
  opacity: 0.04;
  animation: sun 14s linear infinite;
}
.gameBG .sun div:nth-child(2) {
  background-image: url(../images/matr2.png);
  z-index: 2;
  opacity: 0.06;
  animation: sun 12s linear infinite;
}
.gameBG .sun div:nth-child(3) {
  background-image: url(../images/matr3.png);
  z-index: 3;
  opacity: 0.08;
  animation: sun 10s linear infinite;
}
.gameBG .sun div:nth-child(4) {
  background-image: url(../images/matr4.png);
  z-index: 4;
  opacity: 0.10;
  animation: sun 8s linear infinite;
}
.gameBG .sun div:nth-child(5) {
  background-image: url(../images/matr5.png);
  z-index: 5;
  opacity: 0.12;
  animation: sun 6s linear infinite;
}
.gameBG .sun div:nth-child(6) {
  background-image: url(../images/matr6.png);
  z-index: 6;
  opacity: 0.14;
  animation: sun 4s linear infinite;
}
.gameBG .sun div:nth-child(7) {
  background-image: url(../images/matr7.png);
  z-index: 7;
  opacity: 0.16;
  animation: sun 2s linear infinite;
}
.gameBG .sun div:nth-child(8) {
  background-image: url(../images/matr8.png);
  z-index: 8;
}
.cloud {
  position: absolute;
  top: 0;
  right: 0;
  height: 14rem;
  width: 100%;
  z-index: 2;
}
.cloud div {
  width: 5.38rem;
  height: 2.52rem;
  background: url(../images/cloud.png) no-repeat center center;
  background-size: 100% 100%;
  position: absolute;
}
.cloud div:nth-child(1) {
  bottom: 0px;
  left: 40%;
}
.cloud div:nth-child(2) {
  bottom: 20px;
  left: 60%;
  transform: scale(0.7);
  opacity: 0.9;
}
.cloud div:nth-child(3) {
  bottom: 10px;
  left: 0;
  transform: scale(0.9);
}
.cloud div:nth-child(4) {
  bottom: 30px;
  left: 0;
  transform: scale(0.5);
  opacity: 0.7;
}
.cloud div:nth-child(5) {
  bottom: 40px;
  transform: scale(0.3);
  opacity: 0.3;
  left: 20%;
}
.city {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  transform-style: preserve-3d;
}
.city div {
  position: absolute;
}
.city div:nth-child(1) {
  width: 45.16rem;
  background: url(../images/ts1.png) repeat-x 0 bottom;
  background-size: 22.58rem;
  height: 11.3rem;
  bottom: 0;
  z-index: 1;
  animation: city 20s linear infinite;
}
.city div:nth-child(2) {
  width: 40.32rem;
  background: url(../images/ts2.png) repeat-x 0 bottom;
  background-size: 20.16rem;
  height: 9.1rem;
  bottom: 0;
  z-index: 2;
  animation: city 15s linear infinite;
}
.city div:nth-child(3) {
  width: 42.76rem;
  background: url(../images/ts3.png) repeat-x 0 bottom;
  background-size: 21.38rem;
  height: 8.42rem;
  bottom: 0;
  z-index: 3;
  animation: city 10s linear infinite;
}
@keyframes city {
  from {
    background-position: 100% bottom;
  }
  to {
    background-position: 0% bottom;
  }
}
@keyframes hero {
  0 {
    background-position: 0 0;
  }
  10% {
    background-position: -108px 0;
  }
  20% {
    background-position: -216px 0;
  }
  30% {
    background-position: -324px 0;
  }
  40% {
    background-position: -432px 0;
  }
  50% {
    background-position: -540px 0;
  }
  60% {
    background-position: -648px 0;
  }
  70% {
    background-position: -756px 0;
  }
  80% {
    background-position: -864px 0;
  }
  90% {
    background-position: -972px 0;
  }
  100% {
    background-position: -1080px 0;
  }
}
@keyframes sun {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes kill {
  0% {
    transform: translateX(-10px);
  }
  20% {
    transform: translateX(10px);
  }
  40% {
    transform: translateX(-10px);
  }
  60% {
    transform: translateX(10px);
  }
  80% {
    transform: translateX(0px);
    opacity: 1;
  }
  100% {
    transform: translateX(0px);
    opacity: 0;
    bottom: 40px;
  }
}
